.about-us-wrapper .title {
    font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
    font-weight: var(--fontWeightNormal, normal);
    margin-bottom: 13.5px;
    margin-top: 27px;
}

.about-us-wrapper .description {
    font-size: 18px;
    line-height: 2.5;
    margin: 0 0 13.5px;
    text-align: justify;
}