.columns>div {
  display: flex;
  flex-direction: column;
}

@media (width >=1024px) {
  .columns>div {
    flex-direction: row;
  }
}

.columns img {
  width: 100%;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (width <=1024px) {
  .columns.columns-2-cols.img-m-col-8 img {
    width: 66.6667%;
  }
}

.columns.columns-2-cols>div {
  display: flex;
  gap: 8.3333%;
}

.columns.columns-2-cols>div>div {
  flex: auto;
  width: 100%;
}

@media (width >=1024px) {
  .columns.columns-2-cols>div>div:first-child {
    width: 66.6667%;
  }

  .columns.columns-2-cols>div>div:nth-child(2) {
    width: 25%;
  }
}

.columns.right-main.columns-2-cols>div {
  gap: 14px;
}

.columns.right-main.columns-2-cols>div>div {
  flex: auto;
  width: 100%;
}

@media (width >=1024px) {
  .columns.right-main.columns-2-cols>div>div:first-child {
    width: 25%;
  }

  .columns.right-main.columns-2-cols>div>div:nth-child(2) {
    width: 75%;
  }
}