/* stylelint-disable selector-class-pattern */

.cmp-tabs .cmp-tabs__tablist {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.cmp-tabs .cmp-tabs__tab {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  max-height: 48px;
  min-width: 48px;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.cmp-tabs .cmp-tabs__tab:focus {
  outline: none;
}

.cmp-tabs .cmp-tabs__tab--active {
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: inherit;
}

.cmp-tabs .cmp-tabs__tabpanel {
  display: none;
}

.cmp-tabs .cmp-tabs__tabpanel--active {
  display: block;
}