.subnav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 18rem;
    background: black;
    color: #ebebeb;
    gap: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: relative;
  }
  
  
  .signin-container {
    order: 1;
  }
  
  .language-container {
    order: 2;
  }
  
  .signin-trigger {
    cursor: pointer;
    margin: 0;
    font-size: 12px;
  }
  
  .nav-container {
    display: flex;
    gap: 1em;
}

  .language-text {
    font-size: 12px;
    color: #ebebeb;
    cursor: default;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 369px;
    background: #202020;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    transform: translate(-50%, -50%);
  }
  
  .modal-content {
    background: #202020;
    color: white;
    padding: 2rem 1.75rem;
    border-radius: 8px;
    width: 379px;
    box-shadow: 0 2px 12px black;
  }
  
  .modal-content h3 {
    margin: 0 0 8px;
    font-size: 40px;
    color: white;
  }
  
  .modal-content .subheading {
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 300;
  }
  
  .modal-content input {
    width: 100%;
    padding: 2rem 1rem;
    margin: 6px 0;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background-color: #2020;
    font-weight: 400;
    font-size: 18px;
    height: 3pc;
  }
  
  .modal-content .forgot-link {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: 0 0 13.5px;
    display: block;
    line-height: normal;
  }
  
  .modal-content .forgot-link:hover {
    color: white;
  }
  
  .modal-content .signin-btn {
    background: #ffea00 0 0 no-repeat padding-box;
    color: black;
    border: none;
    padding: 0.75rem 1rem;
    width: 180px;
    border-radius: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
  }
  
  .modal-close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  
  .signin-separator {
    border: none;
    border-top: 1px solid #444;
    margin: 1rem 0;
    height: 2px;
  }
  
  .language-dropdown {
    position: absolute;
    background-color: #1a1a1a;
    border-radius: 0;
    padding: 10px;
    margin-top: 8px;
    z-index: 1000;
    min-width: 220px;
    margin-left: 3em;
    width: 20em;
    transform: none;
    top: 100%;
    left: auto;
  }
  
  .language-item {
    display: flex;
    align-items: center;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .language-item:hover {
    background-color: #2a2a2a;
  }
  
  .flag-icon {
    width: 24px;
    height: auto;
    margin-right: 10px;
    object-fit: contain;
  }
  
  .language-info {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
  
  .country-name {
    font-weight: bold;
  }
  
  .language-codes {
    font-size: 12px;
    opacity: 0.8;
  }
  
  .language-separator {
    border: none;
    border-bottom: 0.5px solid dimgray;
    margin: 4px 0;
  }
  
  .language-text .top-flag {
    width: 26px;
    height: auto;
    margin-right: 8px;
    object-fit: contain;
  }
  
  .language-text .lang-code {
    font-size: 12px;
    color:#ebebeb;
  }
  
  .caret-icon {
    font-size: 14px;
    cursor: pointer; 
    user-select: none;
    transition: transform 0.3s ease;
  }
  
.signin-trigger,
.language-text {
  line-height: 1;
}

  
  @media (width <= 767px) {
    .subnav-wrapper {
      padding: 0.5rem 1rem;
      justify-content: space-between !important;
      padding-top:0.3em;
      padding-bottom:0.3em;
    }
  
    .language-text {
      margin-left: 0;
    }

    .language-text .lang-code{
        font-size:14px;
      }

      .signin-trigger{
        font-size:14px;
      }

      .signin-trigger,
      .language-text {
        line-height: 0.8;
      }

      .language-dropdown{
        margin-left:5em;
        width:15em;
      }

      .nav-container{
        justify-content: space-between;
      }

      .subnav.block {
        width: 100%;
    }

    .lang-code::after {
        top: 0.15em !important;
      }

      .language-text.open .lang-code::after {
        top: 0.35em !important;
      }
  }

  .lang-code::after {
    content: "";
    display: inline-block;
    width: 0.45em;
    height: 0.45em;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    position: relative;
    top: 0.25em; 
    left: 0.45em;
    transform: rotate(135deg);
    vertical-align: top;
    margin-left: 0.2em;
    transition: transform 0.3s ease, top 0.3s ease;
  }
  
  .language-text.open .lang-code::after {
    transform: rotate(-45deg); 
    top: 0.50em;
  }
  
  @media (width >= 768px) and (width <= 1024px) {
    .subnav-wrapper {
      padding: 0.5rem 1rem;
      justify-content: space-between !important;
      padding-top:0.3em;
      padding-bottom:0.3em;
    }
  
    .language-text {
      margin-left: 0;
    }

    .language-text .lang-code{
        font-size:16px;
      }

      .signin-trigger{
        font-size:16px;
      }

      .signin-trigger,
      .language-text {
        line-height: 0.8;
      }
      
      .nav-container{
        justify-content: space-between;
      }
      
      .subnav.block {
        width: 100%;
    }

    .language-dropdown{
        margin-left: 22em;
    }
    
    .lang-code::after {
        top: 0.15em !important;
      }

      .language-text.open .lang-code::after {
        top: 0.30em !important;
      }
  }